.nomServeur{
    padding: 0.25rem;
    padding-left: 0.5rem;
}
.nomServeur:hover{
    background-color: rgba(96, 165, 250,1);
}

.ligneEspace{
    border-bottom-width: 2px;
    border-color: rgba(255, 255, 255,1)
}

.nomSurveillance{
    padding: 0.25rem;
    padding-left: 0.5rem;
}
.nomSurveillance:hover{
    background-color: rgba(96, 165, 250,1);
}
